body
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

header
{
  background-color: #00A19C;
  height: 100vh;
}

h1
{
  color: #FFF;
  font-size: 6em;
}

.resultContainer
{
  background-color: red;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarre_stat
{
  height: 100%;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* #timer
{
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#timer span
{
  font-family:"poppinsMedium", sans-serif;
  color: #00A19C;
  font-size: 20px;
}
 */
.sideBarre_content_stat
{
  position: relative;
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  transform: rotate(90deg);
}

.sideBarre_stat img
{
  height: 100%;
  position: absolute;
}

.sideBarre_stat img:first-child
{
  z-index: 3;
}

.sideBarre_stat img:last-child
{
  z-index: 1;
}

.hiddenBarre_stat
{
  width: 100%;
  height: 90%;
  background-color: #FFF;
  z-index: 2;
}
