.wrap
{
  height: 100%;
  justify-content: center;
}

.main
{
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main_content{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 20px;
grid-row-gap: 0px;

height: 90%;
width: 100%;
padding: 20px 0;
box-sizing: border-box;
}

#methode { grid-area: 1 / 1 / 6 / 2; }
#materiel { grid-area: 1 / 2 / 3 / 3; }
#malade { grid-area: 3 / 2 / 5 / 3; }
#mainoeuvre { grid-area: 1 / 3 / 5 / 4; }
#milieu { grid-area: 1 / 4 / 5 / 5; }

.main_content>div
{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #FFF;
}

#materiel
{
  margin-bottom: 10px;
}

#malade
{
  margin-top: 10px;
}

.main_content>div select
{
  width: 80%;
  margin-bottom: 20px;
}

select
{
  font-family:"poppinsMedium", sans-serif;

  color: #000;
  font-size: 15px;
  background-color: #FFF;

  width: 170px;
  height: 40px;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: rgba(36,36,36,0.5) 1.5px solid;
}

.main h2
{
  margin: 20px 0;
}

.button
{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

